@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --- BASE STYLE --- */

:root {
  --ff-poppins: 'Poppins', sans-serif;
  --header-height: 50px;
  --sidebar-width: 230px;
  --black: #000;
  --white: #FFF;
  --light-grey: rgba(231, 231, 231, 0.8);
  --purple: #8981D7;
  --blue: #2970FF;
  --dark-blue-1: #152042;
  --dark-blue-2: #1B2B54;
  --dark-blue-3: #223767;
  --w-db1: var(--white);
  --w-db2: var(--white);
  --w-db3: var(--white);
  --db2-db3: var(--dark-blue-3);
  --fc-theme: var(--black);
  --box-shadow-1: 0px 1px 5px 3px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 1px 0px 3px 2px rgba(0, 0, 0, 0.1);
  --transition-1: .2s ease;
  --transition-2: .1s ease-in;
}

[data-theme='dark'] {
  --w-db1: var(--dark-blue-1);
  --w-db2: var(--dark-blue-2);
  --w-db3: var(--dark-blue-3);
  --db2-db3: var(--dark-blue-2);
  --fc-theme: var(--white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background-color: var(--w-db1);
  transition: background var(--transition-1);
}

a {
  color: unset;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

button {
  background-color: unset;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  width: max-content;
  transition: var(--transition-1);
}

li {
  list-style: none;
}

p {
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

@keyframes scaleUp {
  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(125%);
  }

  100% {
    transform: translateX(-100%);
  }
}


.loader {
  margin: 100px auto;
  border: 3px solid #f3f3f3;
  border-top: 3px solid var(--purple);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin .7s linear infinite;
}

.input {
  background-color: #F2F2F2;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  border: 1px solid transparent;
  transition: var(--transition-2);
}

.input:focus-visible {
  border: 1px solid rgb(184, 184, 184);
  background-color: var(--white);
}

.toggle {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  gap: 14px;
  z-index: 10;
}

.RegisterPage .toggle {
  position: absolute;
  top: 14px;
  left: 14px;
  right: unset;
  display: flex;
  flex-direction: row-reverse;
  gap: 14px;
}

.toggle-lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: var(--w-db1);
}

[data-theme='dark'] .toggle-lang-btn {
  background-color: var(--w-db1);
  color: var(--white);
}

[data-theme='dark'] .toggle-lang-btn:hover {
  background-color: var(--dark-blue-1);
}

.ToggleTheme input {
  display: none;
}

.toggle-theme-btn {
  width: 60px;
  height: 30px;
  position: relative;
  background: var(--dark-blue-3);
  border-radius: 80px;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  user-select: none;
}

[data-theme='dark'] .toggle-theme-btn {
  background: var(--white);
}

.toggle-theme-btn::before {
  position: absolute;
  left: 7%;
  content: "";
  height: 24px;
  width: 24px;
  border-radius: 50%;
  z-index: 2;
  background: var(--white);
  transition: 0.4s ease;
}

.toggle-theme-btn:active::before {
  width: 50%;
}

[data-theme='dark'] .toggle-theme-btn::before {
  left: 93%;
  transform: translateX(-100%);
  background: var(--blue);
}

.toggle-theme-btn>* {
  width: 20px;
  height: 20px;
}

.toggle-theme-btn .sun {
  fill: var(--white);
}

.toggle-theme-btn .moon {
  fill: var(--dark-blue-3);
}


/* --- AUTH PAGE --- */

.App .nonauthed {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginPage,
.RegisterPage {
  position: relative;
  width: 65%;
  min-width: 700px;
  height: 400px;
  display: flex;
  box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.2);
}

.RegisterPage {
  flex-direction: row-reverse;
}

.col-left,
.col-right {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  text-align: center;
  gap: 18px;
  padding: 24px;
}

.col-left {
  background-color: var(--dark-blue-3);
  color: var(--white);
  width: 40%;
  min-width: 300px;
}

.col-right {
  background-color: var(--w-db2);
  color: var(--fc-theme);
  width: 60%;
  min-width: 400px;
}

.ask {
  font-weight: 400;
  margin-top: 42px;
}

.RegisterInput .title {
  margin-bottom: 28px;
  color: var(--blue);
}

.LoginInput .title {
  margin-bottom: 52px;
  color: var(--blue);
}

[data-theme='dark'] :where(.LoginInput, .RegisterInput) .title {
  color: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.input-box {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  border: 1px solid transparent;
}

[class$='icon'] {
  margin: 0 10px;
  font-size: 24px;
  color: var(--black);
}

.btn-login,
.btn-register,
.welcome-btn,
.btn-addnote {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 16px;
  border-radius: 25px;
  transition: var(--transition-2);
  font-weight: 400;
}

.btn-login,
.btn-register,
.btn-addnote {
  margin-top: 14px;
  color: var(--blue);
  border: 1px solid currentColor;
  background-color: var(--white);
}

:is(.btn-login, .btn-register, .btn-addnote):hover {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid transparent;
}

[data-theme='dark'] :where(.btn-login, .btn-register, .btn-addnote) {
  background-color: white;
  border: 1px solid transparent;
}

.welcome-btn {
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid transparent;
}

.welcome-btn:hover {
  color: var(--blue);
  background-color: var(--white);
  border: 1px solid transparent;
}


/* --- APP PAGE --- */

.App .authed {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  background-color: var(--w-db2);
}

.HomePage,
.AddPage,
.ArchivePage,
.DetailPage {
  width: 100%;
  height: 100%;
  grid-column-start: 2;
}

/* --- HEADER --- */

.Header {
  width: calc(100% - var(--sidebar-width));
  height: var(--header-height);
  position: fixed;
  top: 0;
  right: 0;
  left: var(--sidebar-width);
  display: flex;
  align-items: center;
  padding: 0 28px;
  gap: 14px;
  z-index: 2;
  background-color: var(--w-db3);
  box-shadow: var(--box-shadow-1);
  transition: .3s ease;
}

.Header.hide {
  top: -10%;
}

.Header.show {
  top: 0;
}

.searchbar {
  height: 38px;
  display: flex;
  align-items: center;
  width: 350px;
  min-width: 230px;
  margin-right: auto;
  background-color: var(--purple);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  transition: var(--transition-2);
}

[data-theme='dark'] .searchbar {
  background-color: var(--dark-blue-1);
}

.search-icon {
  width: 20px;
  height: 20px;
  color: var(--white);
  -webkit-user-drag: none;
}

.searchbar .input {
  background-color: var(--purple);
  width: 100%;
  height: 100%;
  font-size: 16px;
  user-select: none;
  color: var(--white);
}

[data-theme='dark'] .searchbar .input {
  background-color: var(--dark-blue-1);
}

.searchbar .input::placeholder {
  color: var(--white);
}

.searchbar .input:focus-visible {
  color: var(--black);
  background-color: var(--white);
}

.searchbar .input:focus-visible::placeholder {
  color: var(--black);
}

.header-toggle {
  width: 170px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  margin-left: auto;
  user-select: none;
}

.btn-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

[data-theme='dark'] .btn-logout {
  background-color: var(--w-db2);
  color: var(--white);
}

[data-theme='dark'] .btn-logout:hover {
  background-color: var(--dark-blue-1);
}

.header-toggle .ToggleTheme {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(95%);
}

/* --- SIDEBAR --- */

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  overflow: hidden;
  transition: .2s ease-in;
  box-shadow: var(--box-shadow-2);
  background-color: var(--purple);
  z-index: 3;
}

[data-theme='dark'] .Sidebar {
  background-color: var(--dark-blue-1);
}

.profile {
  height: var(--header-height);
  display: flex;
  place-items: center;
  box-shadow: var(--box-shadow-1);
}

[data-theme='dark'] .profile {
  background-color: var(--dark-blue-2);
}

.avatar-box {
  margin: 0 10px;
  min-width: 30px;
  height: 30px;
  display: flex;
  place-content: center;
  border-radius: 50%;
  background-color: var(--white);
}

.avatar-box img {
  width: 80%;
  object-fit: cover;
  -webkit-user-drag: none;
}

.user-info {
  padding: 4px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.user-info .email {
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  animation: slide 10s linear infinite;
}

.user-info .username {
  font-size: 12px;
  font-weight: 300;
  color: var(--white);
}

.sidebar-toggle {
  width: 40px;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: -2px 0px 4px 1px rgba(0, 0, 0, 0.15);
}

.sidebar-btn {
  width: 100%;
  height: 100%;
  color: var(--white);
  transition: var(--transition-2);
}

.sidebar-btn:hover {
  font-size: 19px;
  font-weight: 700;
}

.Sidebar.hide :where(.avatar-box, .user-info) {
  display: none;
}

.Sidebar.hide .sidebar-toggle {
  width: 100%;
}

.nav-menu {
  height: 100%;
  overflow: hidden;
}

.nav-item {
  width: 100%;
  display: flex;
  gap: 4px;
  padding: 8px 6px;
  cursor: pointer;
  transition: var(--transition-1);
  color: var(--white);
  -webkit-user-drag: none;
}

.Sidebar.hide .nav-item {
  padding: 14px 0;
  justify-content: center;
  gap: 0;
}

.nav-item:where(:hover, .active) {
  background-color: var(--dark-blue-3);
  color: var(--white);
  border-left: 3px solid var(--blue);
  padding-left: 8px;
}

.Sidebar.hide .nav-item:where(:hover, .active) {
  padding-left: 0;
  border-left: 0;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}

.nav-title {
  font-size: 16px;
  font-weight: 400;
}

.Sidebar.hide .nav-title {
  display: none;
}

/* --- MAIN PAGE --- */

.status-notes {
  margin: 80px 0 30px;
  text-align: center;
  color: var(--fc-theme);
}

.NoteList {
  animation: scaleUp .25s ease forwards;
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 14px;
  margin-bottom: 70px;
}

.NoteItem {
  position: relative;
  min-height: 250px;
  padding: 8px;
  box-shadow: var(--box-shadow-1);
  background-color: var(--w-db3);
}

.notes-empty {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--fc-theme);
}

.note-content {
  padding: 10px;
  margin-bottom: 40px;
}

[data-theme='dark'] .note-content :where(.createdAt, .body) {
  color: rgb(211, 211, 211);
}

.note-content .createdAt {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 6px;
}

.note-content .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

[data-theme='dark'] .note-content .title {
  color: var(--white);
}

.note-content .body {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* --- DETAIL PAGE --- */

.DetailPage {
  padding: 30px;
}

.NoteDetail {
  position: relative;
  color: var(--fc-theme);
  width: calc(100% - var(--sidebar-width));
  min-height: 500px;
  margin: var(--header-height) auto;
  padding: 32px;
  color: var(--fc-theme);
  background-color: var(--w-db3);
  box-shadow: var(--box-shadow-1);
}

.back-icons {
  font-size: 28px;
  transition: var(--transition-1);
}

.back-icons:hover {
  color: var(--blue);
}

.note-detail-content .createdAt {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 14px;
}

.note-detail-content .title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 24px;
  text-align: center;
}

.note-detail-content .body {
  font-size: 20px;
  font-weight: 300;
}

.buttons {
  position: absolute;
  display: flex;
  gap: 14px;
  bottom: 14px;
  right: 14px;
  font-size: 24px;
}

.btn-archive>svg {
  font-size: 26px;
  margin: 0;
}

.btn-archive .archived-icon {
  color: rgb(27, 158, 27);
}

.btn-archive .unarchived-icon {
  color: rgb(230, 161, 34);
}

.btn-delete {
  color: rgb(214, 49, 30);
  font-size: 24px;
}

/* --- ADD PAGE --- */

.AddPage {
  display: grid;
  place-content: center;
}

.AddInputNote {
  padding: 18px;
  height: 100%;
  box-shadow: var(--box-shadow-1);
  background-color: var(--w-db3);
}

.AddInputNote .title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--fc-theme);
}

.AddInputNote .form {
  width: 330px;
}

.AddInputNote .input {
  color: var(--fc-theme);
}

.AddInputNote .input::placeholder {
  color: var(--fc-theme);
}

[data-theme='dark'] .AddInputNote .input {
  background-color: var(--w-db2);
}

[data-theme='dark'] .AddInputNote .input:focus-visible {
  background-color: var(--dark-blue-1);
  border: 1px solid transparent;
}

.AddInputNote .add-title {
  height: 40px;
  font-size: 16px;
}

.AddInputNote .add-body {
  height: 250px;
  font-size: 16px;
}

/* --- PAGE NOT FOUND --- */

.PageNotFound {
  position: absolute;
  width: 100%;
  height: 100vh;
  animation: scaleUp .25s ease forwards;
  background-color: var(--w-db2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageNotFound .content {
  margin-left: var(--sidebar-width);
  min-width: 400px;
  width: 750px;
  height: 300px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.PageNotFound .img-box {
  display: flex;
  place-items: center;
  width: 280px;
  margin-top: -30px;
}

.PageNotFound .img-box svg {
  width: 100%;
  object-fit: cover;
  fill: var(--fc-theme);
}

.PageNotFound .alert-message {
  width: 100%;
  height: 100%;
  color: var(--fc-theme);
}

.PageNotFound .alert-message h1 {
  font-size: 48px;
  font-weight: 700;
}

.PageNotFound .alert-message h3 {
  font-size: 24px;
  font-weight: 500;
}

.PageNotFound .alert-message p {
  font-size: 18px;
  font-weight: 400;
}

.PageNotFound .BackToHome {
  margin-top: 25px;
  display: flex;
  width: max-content;
  padding: 4px 18px;
  border-radius: 25px;
  background: var(--dark-blue-3);
  color: var(--white);
  transition: var(--transition-1);
}

.PageNotFound .BackToHome:hover {
  background: var(--dark-blue-1);
}





/* --- Responsive Media Query --- */

@media (max-width: 576px) {
  .App .authed {
    max-width: 576px;
    grid-template-columns: 1fr;
  }

  .HomePage,
  .ArchivePage,
  .DetailPage,
  .AddPage {
    grid-column-start: unset;
  }

  .Header {
    padding: 8px 14px;
    width: 100%;
    height: 100px;
    gap: 10px;
    left: unset;
    flex-direction: column-reverse;
  }

  .Header.hide {
    top: -120px;
  }

  .searchbar {
    min-width: 130px;
    width: 95%;
    margin: 0 auto;
  }

  .Sidebar.hide {
    height: max-content;
  }

  .Sidebar.hide .nav-menu {
    display: none;
  }

  .status-notes {
    margin: 130px 0 30px;
  }

  .DetailPage {
    padding: 14px;
  }

  .DetailPage .Header {
    height: var(--header-height);
  }

  .DetailPage .searchbar {
    display: none;
  }

  .DetailPage .NoteDetail {
    padding: 18px;
  }

  .note-detail-content {
    margin-bottom: 50px;
  }

}

@media (max-width: 768px) {

  .App .nonauthed {
    max-width: 768px;
    width: 100%;
    min-height: 100vh;
    align-items: unset;
    justify-content: unset;
  }

  .LoginPage,
  .RegisterPage {
    width: 100%;
    min-width: 320px;
    flex-direction: column;
    place-content: center;
    min-height: 100vh;
  }

  .col-left,
  .col-right {
    min-width: 320px;
    width: 100%;
  }

  .col-left {
    height: 40%;
  }

  .col-right {
    height: 60%;
  }
}