@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --ff-poppins: 'Poppins', sans-serif;
  --header-height: 70px;
  --black: #000;
  --white: #FFF;
  --light-grey: rgba(211, 211, 211, .8);
  --purple: #8981D7;
  --purple: #8981D7;
  --blue: #2970FF;
  --dark-blue-1: #152042;
  --dark-blue-2: #1B2B54;
  --dark-blue-3: #223767;
  --w-db1: var(--white);
  --w-db2: var(--white);
  --w-db3: var(--white);
  --db2-db3: var(--dark-blue-3);
  --fc-theme: var(--black);
}

[data-theme='dark'] {
  --w-db1: var(--dark-blue-1);
  --w-db2: var(--dark-blue-2);
  --w-db3: var(--dark-blue-3);
  --db2-db3: var(--dark-blue-2);
  --fc-theme: var(--white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-poppins);
}

body {
  background-color: var(--w-db1);
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

button {
  background-color: unset;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  width: max-content;
}

li {
  list-style: none;
}

p {
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

.input {
  background-color: #F2F2F2;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
}

.input:focus-visible {
  background-color: var(--white);
}

.LoginPage .ToggleTheme {
  position: absolute;
  top: 14px;
  right: 14px;
}

.RegisterPage .ToggleTheme {
  position: absolute;
  top: 14px;
  left: 14px;
}

.toggle-box {
  width: 60px;
  height: 30px;
  position: relative;
  background: var(--dark-blue-3);
  border-radius: 80px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ToggleTheme input {
  display: none;
}

#btn-mode:checked~.toggle-box {
  background: var(--white);
}

.toggle-box:before {
  position: absolute;
  left: 5%;
  content: "";
  height: 24px;
  width: 24px;
  background: var(--white);
  border-radius: 80px;
  transition: 0.4s ease;
  z-index: 10;
}

#btn-mode:checked~.toggle-box:before {
  left: 95%;
  transform: translateX(-100%);
  background: var(--dark-blue-1);
}

.toggle-box>* {
  width: 20px;
  height: 20px;
}

.toggle-box .sun {
  fill: var(--white);
}

.toggle-box .moon {
  fill: var(--dark-blue-3);
}


/* AUTH PAGE */

.App .nonauth {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.LoginPage,
.RegisterPage {
  width: 1000px;
  height: 400px;
  display: grid;
  place-items: center;
  box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.2);
}

.LoginPage {
  grid-template-columns: .7fr 1fr;
}

.RegisterPage {
  grid-template-columns: 1fr .7fr;
}

.login.col-left {
  grid-column: 1 / 2;
  background-color: var(--dark-blue-3);
  color: var(--white);
}

.login.col-right {
  grid-column: 2 / 3;
  background-color: var(--w-db2);
  color: var(--fc-theme);
}

.register.col-left {
  grid-column: 2 / 3;
  background-color: var(--dark-blue-3);
  color: var(--white);
}

.register.col-right {
  grid-row-start: 1;
  grid-column: 1 / 2;
  background-color: var(--w-db2);
  color: var(--fc-theme);
}

.col-left,
.col-right {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  gap: 18px;
  padding: 24px;
}

.ask {
  font-weight: 400;
  margin-top: 42px;
}

:is(.LoginInput, .RegisterInput) .title {
  margin-bottom: 28px;
  color: var(--blue);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.input-box {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}

.input-box .input:focus-visible {
  border-left: 1px solid rgb(184, 184, 184);
}

[class$='icon'] {
  margin: 0 10px;
  font-size: 24px;
  color: var(--black);
}

.btn-login,
.btn-register,
.welcome-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 25px;
  transition: .13s ease-in;
  font-weight: 400;
}

.btn-login,
.btn-register {
  margin-top: 14px;
  color: var(--blue);
  border: 1px solid currentColor;
}

:is(.btn-login,
  .btn-register):hover {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid transparent;
}

[data-theme='dark'] :where(.btn-login, .btn-register) {
  background-color: white;
  border: 1px solid transparent;
}

.welcome-btn {
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid transparent;
}

.welcome-btn:hover {
  color: var(--blue);
  background-color: var(--white);
  border: 1px solid transparent;
}

/* PAGE */

.App .authed {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.HomePage,
.AddPage,
.ArchivePage {
  width: 100%;
  grid-column-start: 2;
  overflow-y: scroll;
}

.Header {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  border: 1px solid red;
  display: flex;
  align-items: center;
  padding: 0 28px;
  height: var(--header-height);
  z-index: 10;
}

.status-notes {
  margin: 100px 0 30px;
  text-align: center;
}

.searchbar {
  width: 50%;
}

.searchbar .input {
  padding: 0 8px;
  width: 100%;
  min-width: 200px;
  height: 30px;
}

.toggle-menu {
  display: flex;
  margin-left: auto;
  gap: 14px;
}

.Sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed;
  min-height: 100vh;
  border: 1px solid red;
  z-index: 10;
}

.profile {
  width: 100%;
  height: var(--header-h);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: 1px solid red;
  overflow: hidden;
}

.avatar-box {
  display: flex;
  place-content: center;
  min-width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

.avatar-box img {
  width: 100%;
  object-fit: cover;
}

.user-info {
  width: 100%;
}

.user-info .email {
  font-size: 16px;
  font-weight: 500;
}

.user-info .username {
  font-size: 14px;
  font-weight: 400;
}

.nav-item {
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 8px;
  cursor: pointer;
  transition: all .2s ease;
}

.nav-item:where(:hover, .active) {
  background-color: var(--light-grey);
  color: ;
  border-left: 4px solid var(--blue);
  padding-left: 12px;
}

.nav-item.dark:where(:hover, .active) {
  background-color: ;
  color: ;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}

.nav-title {
  font-size: 18px;
  font-weight: 400;
}

.NoteList {
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 14px;
  margin-bottom: 70px;
}

.NoteItem {
  min-height: 250px;
  border: 1px solid red;
  position: relative;
}

.note-content {
  padding: 14px;
  margin-bottom: 40px;
}

.note-content .createdAt {
  font-size: 16px;
  margin-bottom: 6px;
}

.note-content .title {
  margin-bottom: 10px;
  text-align: center;
}

.note-content .body {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buttons {
  display: flex;
  gap: 14px;
  position: absolute;
  bottom: 14px;
  right: 14px;
}

/* AddPage */

.AddInputNote {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.AddInputNote .title {
  text-align: center;
  margin-bottom: 30px;
}

.AddInputNote .form {
  width: 330px;
}

.AddInputNote .add-title {
  height: 40px;
}

.AddInputNote .add-body {
  height: 250px;
}

.btn-addnote {
  margin: 14px auto 0;
}